/* Reset some default styles */
body, h1, h2, button {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-image: url(https://th.bing.com/th/id/R.0c5c3d46eff1b4e6100ddbd8cdb5202b?rik=Vnb8tPay5Cd3eQ&pid=ImgRaw&r=0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background: linear-gradient(to bottom right, #ff6b6b, #ff3636); */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: linear-gradient(to bottom right, #ff6b6b, #ff3636);
  padding: 25px 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.btn-timer {
  background-color: white;
  color:  #ff6b6b;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  width: 80px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-timer:hover {
  background-color: rgb(224, 224, 224);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.div-principal {
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  padding: 10px;
  margin: 30px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.contador {
  font-size: 150px;
  color: white;
  margin-bottom: 10px;
}

.aviso {
  font-size: 18px;
  color: rgb(22, 19, 19);
}

.invisivel{
  display: none;
}

.div-btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-stop, .btn-reset {
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 40px;
  color:  #ff6b6b;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

 .btn-stop:hover, .btn-reset:hover {
  background-color: rgb(224, 224, 224);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-start{
  background-color: rgb(16, 151, 11);
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 150px;
  color:  #ffffff;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-start:hover{
  background-color: rgb(14, 119, 10);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.input-escolha{
  border-radius: 5px;
  border: none;
  outline: none;
  color: green;
  text-align: center;
}

.input-escolha:focus{
  border: none;
  
}

.div-escolher{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.div-invisivel{
  display: none;
}

.div-aviso{
 margin-bottom: 20px;
}

@media(max-width: 700px){
    .container{
      padding: 20px 5px;
    }

    .div-principal{
      font-size: 50px;
    }

    .contador{
      font-size: 140px;
    }
}